.custom-btn {
    background-color: darkblue !important;
    color: white;
    width: 250px; /* Adjust the width as needed */
    text-align: center;
  }
  
  .user-info-left {
    text-align: left;
    margin-left: 20px; /* Adjust as needed */
    font-weight: bold;
    color: #333;
  }

  .logo-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px; /* Add space between logo and text */
  }
  .user-info-left {
    display: flex;
    align-items: center;
  }