.custom-btn {
    background-color: darkgreen !important;
    color: white;
    width: 250px; /* Adjust the width as needed */
    text-align: center;
  }
  
  .user-info-left {
    text-align: left;
    margin-left: 20px; /* Adjust as needed */
    font-weight: bold;
    color: #333;
  }